@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --branco: #fff;
    --baby-blue: #DBE4EF;
    --cinza-claro: #EDF0F4;
    --cinza-medio: #8F8F8F;
    --cinza: #444444;
    --azul-dark: #041832;
    --azul-medio: #144480;
    --azul-neon: #2BDEFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: var(--branco);
    font-size: x-large;
    font-family: "Roboto Mono";
}

header {
    display: flex;
    background-color: var(--azul-dark);
    width: 100%;
}